<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("https://hcdevilsadvocate.com/wp-content/uploads/2019/01/netflix-background-9-900x506.jpg");
  height: 100%; 
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}
</style>

<h1> Chelas Movie Database</h1>
<p>Welcome to the world's best movie database</p>
<div class="bg"></div>