 <style>
    label {
        vertical-align: top;
    }
    
</style>
<h2>{{title}}</h2>
<form action="{{link}}" method="POST" >
    <p>
        Limit: <input type="text" style="width: auto;" name="limit" placeholder="250">
    </p>
    <input type="submit" value="{{title}}">
</form>